<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
		<link rel="stylesheet" href="{% static 'stylesheet.css' %}">
        <title>
            {% block title_block %}
                How’s The Weather Today?
            {% endblock %}
        </title>
    </head>

	{% block sidebar_block %}
	<ul>
		<li><a href="{% url 'hows_the_weather:home' %}">Home</a><li>
		<li><a href="{% url 'hows_the_weather:my-profile' %}">My Profile</a></li>
		<!-- THE BROWSE LINK SHOULD BE ON THE RIGHT OF THE SIDEBAR-->
		<li><a href="{% url 'hows_the_weather:browse' %}">Browse</a></li>
		{% if user.is_authenticated %}
		<li><a href="{% url 'hows_the_weather:logout' %}">Log Out</a></li>
		{% endif %}
	</ul>
	{% endblock %}
	<hr />

    

    <h1>
        {% block heading_block %}
            How’s The Weather Today?
        {% endblock %}
    </h1>

    <body>
        {% block body_block %}
            Test Block
        {% endblock %}
    </body>

    <hr />
</html>