<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
		<link rel="stylesheet" href="{% static 'stylesheet.css' %}">
        <title>
            {% block title_block %}
                How’s The Weather Today?
            {% endblock %}
        </title>
    </head>


    <ul>
        {% block sidebar_block %}
            <a href="{% url 'hows_the_weather:home' %}">Home</a><br>
            <a href="{% url 'hows_the_weather:my-profile' %}">My Profile</a><br>
            
            <!-- THE BROWSE LINK SHOULD BE ON THE RIGHT OF THE SIDEBAR-->
            <a href="{% url 'hows_the_weather:browse' %}">Browse</a><br>

            {% if user.is_authenticated %}
            <a href="{% url 'hows_the_weather:logout' %}">Log Out</a><br>
            {% endif %}

            <div id="search">
                <label>Search:</label><br>
                <form method="GET" action="{% url 'hows_the_weather:browse' %}" id="searchform">
                    <input type="text" name="searchbox" value="{{ request.GET.searchbox }}"><br>
                </form>
            </div>

            <hr />
        {% endblock %}
    </ul>
    

    <h1>
        {% block heading_block %}
            How’s The Weather Today?
        {% endblock %}
    </h1>

    <body>
        {% block body_block %}
            Test Block
        {% endblock %}
    </body>

    <hr />
</html>