<!DOCTYPE html>
{% extends 'hows_the_weather/base.html' %}
{% load staticfiles %}

<html>
    {% block heading_block %}
        Browse
    {% endblock %}

    {% block body_block %}
        (SECONDARY) SEARCHBAR (MAYBE) GOES HERE

		<hr />
        <h3>Top 3 Locations Today:</h3>
        {% if liked_locations %}
            {% for location in liked_locations %}
                <!--We need to find a way to implement the number-->
                <a href="{% url 'hows_the_weather:location' location.slug %}">{{ location.name }}</a> <br>
            {% endfor %}
        {% else %}
            <p>No ratings yet!</p>
        {% endif %}
        <!-- We would need a 'daily ratings' system. If the system is populated,
          show something. If not, show nothing. -->
    {% endblock %}
</html>