<!DOCTYPE html>
{% extends 'hows_the_weather/base.html' %}
{% load staticfiles %}

<html>
    {% block heading_block %}
        Forum for {{ location }}
    {% endblock %}

    {% block body_block %}
    <p>Forum Slug: {{ forum.slug }}</p>
    {% if forum and forum.slug %}
    <a href="{% url 'hows_the_weather:add_comment' location_name_slug=forum.slug %}" class="btn btn-primary">
        Add Comment
    </a>
    {% else %}
    <p>Error: Forum slug is missing.</p>
    {% endif %}

    <br />
    <br />
        {% for comment in comments %}
            {{ comment.username }}: {{ comment.text }} <br>
        {% endfor %}
    {% endblock %}
</html>