<!DOCTYPE html>
{% extends 'hows_the_weather/base.html' %}
{% load staticfiles %}

<html>
    {% block body_block %}
        Saved Locations go here
        <!-- When clicking on a saved location, it will drop-down your notes which 
         should be a textbox --> 
        <hr />
        Notes About the locations go here. <br />

        {% if saved_locations %}
            {% for location in saved_locations %}
                <a href="{{ location.url }}">{{ location.name }}</a>
                <!--This currently does nothing.-->
                <!--{{ location.url }} should somehow be passed in, but this cannot be done if-->
                <!--The parameters for saved_locations() remain the same.-->
                <form id="delete_form" method="post" action="{% url 'hows_the_weather:saved-locations' %}">
                    {% csrf_token %}
                    
                    {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}
                        {{ field }}
                    {% endfor %}
                    
                    <input type="hidden" name="location_name" value="{{ location.name }}" />
                    <input type="submit" name="remove_location" value="Remove Location" />
                </form>
                <br />
            {% endfor %}
        {% else %}
            Does not Exist
        {% endif %}
    {% endblock %}
</html>