/* Global: */
* {
	font-family: 'Arial', sans-serif;
	text-align: center;
}

body {
	background-color: #F0F8FF;
}

/* Searchbox: */
#search {
	font-weight: bold;
	width: 400px;
	height: 25px;
}


/* Sidebar: */
ul {
	font-family: 'Arial', sans-serif;
	font-size: 20px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #483D8B;
	color: white;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
}

li a:hover {
	background-color: #1E90FF;
}
